@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Doto:wght,ROND@100..900,100&family=Funnel+Display:wght@300..800&family=JetBrains+Mono:wght@100..800&family=League+Script&family=Rouge+Script&display=swap");

.funnel-display-regular {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.funnel-display-bold {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-semibold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.cascadia-code-regular {
  font-family: "Cascadia Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  /* control the inline and word distance */
  letter-spacing: 0.01em;
  word-spacing: 0.02em;
}

.cascadia-code-semibold {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cascadia-code-bold {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bricolage-grotesque-regular {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bricolage-grotesque-bold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.doto-regular {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

.doto-bold {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
